<div class="jumbotron">
    <h1>You have reached the ultra mega secure page</h1>
    <p class="lead">This page reveals the secrets of the universe.</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>The secret is....</h2>
        <p>
            Enlightenment can only be achieved after creating, your own javascript framework....
        </p>
    </div>
</div>
