<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <appSettings>
    <add key="ClientId" value="ClientId2"/>
    <add key="ClientSecret" value="K7gNU3sdo+OL0wNhqoVWhr3g6s1xYv72ol/pe/Unols="/>
    <add key="IdentityServerEndpoint" value="http://localhost:35373/identity/"/>
    <add key="CallbackEndpoint" value="callback"/>
    <add key="LocalPort" value="5000"/>
  
  </appSettings>
</configuration>